In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Load the DataFrame from a file
df = pd.read_csv('data/new_df.csv')

In [10]:
df.head()

,marital status,course,daytime/evening attendance,displaced,debtor,tuition fees up to date,gender,scholarship holder,unemployment rate,gdp,target
0,Single,Animation,Daytime,1,0,1,Male,0,10.8,1.74,Dropout
1,Single,Tourism,Daytime,1,0,0,Male,0,13.9,0.79,Graduate
2,Single,Communication,Daytime,1,0,0,Male,0,10.8,1.74,Dropout
3,Single,Journalism,Daytime,1,0,1,Female,0,9.4,-3.12,Graduate
4,Married,Social Service,Evening,0,0,1,Female,0,13.9,0.79,Graduate

In [11]:
df['target'].value_counts()

Graduate    2209
Dropout     1421
Enrolled     794
Name: target, dtype: int64

In [6]:
df = df[df['target'] != "Enrolled"]

In [7]:
df.shape

(3630, 11)